<section class="station">
  <p>Name: <%= @station.name %></p>
  <p>Address: <%= @station.address %></p>
  <p>Fuel Type: <%= @station.fuel_type %></p>
  <p>Distance: <%= @station.distance %></p>
  <p>Access Times: <%= @station.access_times %></p>
</section>
